extends layout

block content

	div.container
	
		div.col-sm-6.col-sm-offset-3
			h1 Log In
			br

			<!-- show any messages that come back with authentication -->
			if (message.length > 0)
				div.alert.alert-danger #{message}

			form(action="/login", method="post")
				div.form-group
					label Username
					input.form-control(type="text", name="username")
				div.form-group
					label Password
					input.form-control(type="password", name="password")
				div.form-group
					label Remember Me 
					input(type="checkbox", name="remember", value="yes")

				button.btn.btn-primary(type="submit") Log In

			hr
			p Need an account?
			a(href="/signup") Sign Up
