html {
	height: 100%;
}

body {
	padding: 80px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
}

a {
	color: #00B7FF;
}

.content {
	height: 100%;
}

#map-div {
	height: 100%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

.logo {
	width: 20px;
	height: 20px;
}

div.dropdown-menu {
	padding-right: 20px;
}

div.lbl {
	display: inline-block;
	vertical-align: top;
}

div.desc {
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: auto;
	max-width: 500px;
	max-height: 200px;
}

th.a, td.a {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	width: 230px;
}

th.b, td.b {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}


td > button {
	width: 70px;
}